{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
	<hr>
	<h2>Checkout:</h2>
     <div class="row">
		<!-- Informacion Detallada de la Compra -->
		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Resumen de la Compra</h3>
				<hr>
				{% for item in items %}
					<div class="cart-row cart-checkout">
						<div class="item-checkout-2"><a href="{% url 'item_detail' item.product.id %}"><img class="row-image image-checkout" src="{{ item.product.get_imageURL }}"></a></div>
						<div class="item-checkout-2"><p>{{item.product.name}}</p></div>
						<div class="item-checkout-1"><p>&#8370;{{item.product.price | intcomma}}</p></div>
						<div class="item-checkout-1"><p>x{{item.quantity}}</p></div>
					</div>
				{% endfor %}
				<h5>Items:   {{total_item_cart}}</h5>
				<h5>Total:   &#8370;{{total_cost_cart | intcomma}}</h5>
			</div>
		</div>
	    <!-- Pago de Items via AdamsPay -->
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<div class="box-element" id="payment-info">
					<small>Opciones de Pago via </small>
					<form action="{% url 'payment_api' %}" method="POST">
						{% csrf_token %}
						<button id="make-payment" type="submit">AdamsPay</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<script type="text/javascript">
	    document.getElementById('#').addEventListener('click', function(e){
	    	submitFormData()
	    })

		function submitFormData(){
			alert("Pago del Carrito de compras Iniciado")
		}
	</script>
{% endblock content %}