{% extends 'store/main.html' %}
{% load humanize %}
{% block content %}
    <h3>Compras Realizadas: </h3>
    <hr>
    <div>
        {% if request.user.is_authenticated %}
            {% for order in ordered %}
                <div class="box-element lightgray-theme-color">
                        <div class="cart-row">
                            <div class="cart-item-div-1">
                                <strong>Orden Realizada</strong>
                                <h6>{{ order.order.date_ordered | date:"d M Y"}} </h6>
                            </div>
                            <div class="cart-item-div-1">
                                <strong>Id de la Transaccion</strong>
                                <h6>{{order.order.transaction_id}}</h6>
                            </div>
                            <div class="cart-item-div-1">
                                <strong>Total</strong>
                                <h6>&#8377;{{order.order.amount | intcomma}}</h6>
                            </div>
                        </div>
                    {% for item in order.items %}
                        <div class="cart-row cart-order-details">
                            <div class="cart-item-div-1"><img class="row-image image-checkout" src="{{item.get_imageURL}}"></div>
                            <div class="cart-item-div-1"><p>Producto:{{item.name}}</p></div>
                            <div class="cart-item-div-1"><p>Precio:&#8377;{{item.price | intcomma}}</p></div>
                            <div class="cart-item-div-1">
                                <p class="quantity">Cantidad:{{item.quantity}}</p>
                            </div>
                            <div class="cart-item-div-1"><p>Total:${{item.get_total | intcomma}}</p></div>
                        </div>
                    {% endfor %}
                </div>
                <br>
            {% endfor %}
            <br>
        {% endif %}
    </div>
    <hr>
{% endblock %}