{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    {% if deuda_creada %}
        <h4>Gracias por elegir <strong>Ecom</strong></h4>
        <p>Elije tu metodo de pago preferido:</p>
        <div class="container">
            <div class="row">
                <div class="mx-auto">
                    <iframe id="thank-you-frame"
                            title="Metodo de Pago AdamsPay"
                            allow="payment"
                            width="600"
                            height="380"
                            src="{{payUrl}}">
                    </iframe>
                </div>
            </div>
        </div>
    {% else %}
    <h4><strong>Oops!</strong></h4>
        <div style="margin-bottom: 10px">
            <p style="display:inline">{{status_de_transaccion}}</p>
            <p style="display:inline">Se ha producido un error en el servidor.</p>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="max-auto">
                <a href="{% url 'checkout' %}" class="btn btn-dark thank-you-btn">Volver a Checkout</a>
            </div>
        </div>
    </div>
{% endblock %}