{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    {% if deuda_creada %}
        <h4>Gracias por elegir <strong>Ecom</strong></h4>
        <p>{{status_de_transaccion}}</p>
        <p>Finaliza el pago a traves del siguiente enlance: {{payUrl}}</p>
    {% else %}
    <h4><strong>Oops!</strong></h4>
        <div style="margin-bottom: 10px">
            <p style="display:inline">{{status_de_transaccion}}</p>
            <p style="display:inline">Se ha producido un error en el servidor.</p>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <a href="{% url 'checkout' %}" class="btn btn-dark">Volver a Checkout</a>
        </div>
    </div>
{% endblock %}