{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="row my-2">
		<div class="col-lg-4 order-lg-1 text-center">
			{% if request.user.profile.photo %}
				<img src="{{ user.profile.photo.url }}" class="mx-auto img-fluid img-circle d-block" alt="avatar" width="150" height="150">
			{% else %}
				<img src="http://127.0.0.1:8000/static/images/default.png" class="mx-auto img-fluid img-circle d-block" alt="avatar" width="150" , height="150">
			{% endif %}
            {% if request.user.is_authenticated %}
				{% if request.user == user %}
					<br>
					<a class="btn btn-secondary mb-2" href="{% url 'edit_profile' %}">Edit Profile</a>
				{% endif %}
			{% endif %}
        </div>
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
					<h6>@{{user.username}}</h6>
                    <h2 class="mb-3">{{user.first_name}} {{user.last_name}}</h2>
                    <div class="row">
                        <div class="col-md-6">
							<p><strong>E-Mail: </strong>{{user.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<hr class="my-4">
	<hr class="my-4">
	<h3>Items Ordenados: </h3>
	<div>
		{% if request.user.is_authenticated %}
			{% for order in ordered %}
				<div class="box-element lightgray-color-theme">
						<div class="cart-row">
							<div class="div-style-1">
								<strong>Fecha de orden realizada</strong>
								<h6>{{ order.order.date_ordered | date:"d M Y"}} </h6>
							</div>
							<div class="div-style-1">
								<strong>Id de la Transaccion</strong>
								<h6>{{order.order.transaction_id}}</h6>
							</div>
							<div class="div-style-1">
								<strong>Total</strong>
								<h6>&#8370;{{order.order.amount | intcomma}}</h6>
							</div>
						</div>
					{% for item in order.items %}
						<div class="cart-row div-items-theme">
							<div class="div-style-1"><img class="row-image image-format" src="{{item.get_imageURL}}"></div>
							<div class="div-style-1"><p>Producto:{{item.name}}</p></div>
							<div class="div-style-1"><p>Precio:&#8370;{{item.price | intcomma}}</p></div>
							<div class="div-style-1">
								<p class="quantity">Cantidad:{{item.quantity}}</p>
							</div>
							<div class="div-style-1"><p>Total:&#8370;{{item.get_total | intcomma}}</p></div>
						</div>
					{% endfor %}
				</div>
				<br>
			{% endfor %}
			<br>
		{% endif %}
	</div>
	<hr>
{% endblock %}